body{
    color: white;
    background-image: url("https://i.pinimg.com/originals/7d/2c/dc/7d2cdcdef3bc0f6887613f88024358c3.jpg");
    background-color: rgba(0,0,0,0.3);
    background-size: cover;
    background-position: center,center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    margin:0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    padding: 0px;
    font-family: cursive;
}
.head{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 5rem;
    margin-top: -50px;;
}
.parts{
    margin: 0px 30px;
}
span{
    font-size: 1.4rem;
}
p{
    margin: 0px;
    padding: 0px;
    margin-bottom: -60px;
}